.entryList__container {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
}
.entryList__svg {
  position: relative;
  top: -170px;
  right: -320px;
}
