.entry-form__container {
  display: flex;
  flex-direction: column;
  border: 1px, black solid;
  margin: 20px;
  gap: 10px;
}

.create__button {
  width: 20%;
  height: 40px;
  align-self: center;
  background-color: var(--color-nemo);
  color: var(--color-foam);
  border-radius: 20px;
  margin-top: 20px;
}
.create__button:hover {
  background-color: var(--color-nemo-dark);
}
.create__button:active {
  background-color: var(--color-nemo-mid);
}
.header__form {
  text-align: center;
  margin-top: 0px;
}
.textarea {
  resize: none;
}
